# crawler/
crawler/reminder_data.html
crawler/courses/*_*.txt
crawler/courses/total.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# bulk/
bulk/ATTACH
bulk/data.csv
bulk/data_bak.csv

# .venv
.venv/

# push.bat
push.bat

# configuration file
.env.bak