pt.csust_crawler/table.txt
reminder_data.txt
pt.csust_crawler/courses/*_*.txt
pt.csust_crawler/courses/total.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

bulk-email-sender/ATTACH
bulk-email-sender/compose.md
bulk-email-sender/data.csv
bulk-email-sender/data_bak.csv
bulk-email-sender/.env

# .venv
.venv/

# push.bat
push.bat